<div class="swiper-wrapper"
     style="transition-duration: 0ms; transform: translate3d(-21760px, 0px, 0px); transition-delay: 0ms;">
    <div class="swiper-slide" data-swiper-slide-index="7">
        <div class="swpLoading">로딩중</div>
    </div>
    <div class="swiper-slide" data-swiper-slide-index="8">
        <div class="swpLoading">로딩중</div>
    </div>
    <div class="swiper-slide" data-swiper-slide-index="9">
        <div class="swpLoading">로딩중</div>
    </div>
    <div class="swiper-slide" data-swiper-slide-index="10">
        <div class="swpLoading">로딩중</div>
    </div>
    <div class="swiper-slide" data-swiper-slide-index="11">
        <div class="swpLoading">로딩중</div>
    </div>
    <div class="swiper-slide" data-swiper-slide-index="12">
        <div class="swpLoading">로딩중</div>
    </div>
    <div class="swiper-slide" data-swiper-slide-index="13">
        <div class="swpLoading">로딩중</div>
    </div>
    <div class="swiper-slide" data-swiper-slide-index="14">
        <div class="swpLoading">로딩중</div>
    </div>
    <div class="swiper-slide" data-swiper-slide-index="15">
        <div class="swpLoading">로딩중</div>
    </div>
    <div class="swiper-slide" data-swiper-slide-index="16">
        <div class="swpLoading">로딩중</div>
    </div>
    <div class="swiper-slide" data-swiper-slide-index="17">
        <div class="swpLoading">로딩중</div>
    </div>
    <div class="swiper-slide" data-swiper-slide-index="18">
        <div class="swpLoading">로딩중</div>
    </div>
    <div class="swiper-slide" data-swiper-slide-index="19">
        <div class="swpLoading">로딩중</div>
    </div>
    <div class="swiper-slide" data-swiper-slide-index="20">
        <div class="swpLoading">로딩중</div>
    </div>
    <div class="swiper-slide" data-swiper-slide-index="21">
        <div class="swpLoading">로딩중</div>
    </div>
    <div class="swiper-slide" data-swiper-slide-index="22">
        <div class="swpLoading">로딩중</div>
    </div>
    <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="23"><a href="/app/exhibition/menu/501"><span
            class="WideSwiper_img__gd7v4"><img
            src="https://img.lfmall.co.kr/v2/real/origin/card/2024/9/1727076837243.jpg" alt="MEN'S" data-url="23"
            style="background: rgb(238, 238, 238);"></span><span class="WideSwiper_textBox__rI10u"><span
            class="WideSwiper_txtBrand__44K2Q">LUXURY</span><span class="WideSwiper_main01__bTs2L">MEN'S</span><span
            class="WideSwiper_main02__g5PP-">LUXURY</span><span
            class="WideSwiper_copy__A6aqp">남성 럭셔리의 모든 것</span></span></a></div>
    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0"><a href="/app/exhibition/menu/501"><span
            class="WideSwiper_img__gd7v4"><img
            src="https://img.lfmall.co.kr/v2/real/origin/card/2024/9/1727076725263.jpg" alt="MD추천" data-url="0"
            style="background: rgb(238, 238, 238);"></span><span class="WideSwiper_textBox__rI10u"><span
            class="WideSwiper_txtBrand__44K2Q">LUXURY</span><span class="WideSwiper_main01__bTs2L">MD추천</span><span
            class="WideSwiper_main02__g5PP-">럭셔리 브랜드</span><span
            class="WideSwiper_copy__A6aqp">#구찌 #버버리 #페라가모</span></span></a>
    </div>
    <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1"><a href="/app/exhibition/menu/501"><span
            class="WideSwiper_img__gd7v4"><img
            src="https://img.lfmall.co.kr/v2/real/origin/card/2024/9/1727076718813.jpg" alt="" data-url="1"
            style="background: rgb(238, 238, 238);"></span><span class="WideSwiper_textBox__rI10u"><span
            class="WideSwiper_txtBrand__44K2Q"></span><span class="WideSwiper_main01__bTs2L"></span><span
            class="WideSwiper_main02__g5PP-"></span><span class="WideSwiper_copy__A6aqp"></span></span></a>
    </div>
    <div class="swiper-slide" data-swiper-slide-index="2">
        <div class="swpLoading">로딩중</div>
    </div>
    <div class="swiper-slide" data-swiper-slide-index="3">
        <div class="swpLoading">로딩중</div>
    </div>
    <div class="swiper-slide" data-swiper-slide-index="4">
        <div class="swpLoading">로딩중</div>
    </div>
    <div class="swiper-slide" data-swiper-slide-index="5">
        <div class="swpLoading">로딩중</div>
    </div>
    <div class="swiper-slide" data-swiper-slide-index="6">
        <div class="swpLoading">로딩중</div>
    </div>
</div>