<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>나를 나답게 LFmall.com</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/js/main.js">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>
<body>

    <div class="inner">
    <!--헤더 자리      -->
        <div class="main_container">

            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="/static/images/swiper1.jpg" alt="스와이퍼1">
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/images/swiper2.jpg" alt="스와이퍼2">
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/images/swiper3.jpg" alt="스와이퍼3">
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/images/swiper4.jpg" alt="스와이퍼4">
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>

            <div class="category_wrapper">
                <div class="category_box">
                    <div class="category">
                        <a href="#" class="category_name">
                            <img src="../static/images/suede.png" alt="스웨이드" height="114">
                            <span>스웨이드</span>
                        </a>
                        <a href="#">
                            <img src="../static/images/woman.jpg" alt="여성의류">
                            <span>여성의류</span>
                        </a>
                        <a href="#">
                            <img src="../static/images/man.jpg" alt="남성의류">
                            <span>남성의류</span>
                        </a>
                        <a href="#">
                            <img src="../static/images/backpack.jpg" alt="가방/잡화">
                            <span>가방/잡화</span>
                        </a>
                        <a href="#">
                            <img src="../static/images/shoes.jpg" alt="슈즈">
                            <span>슈즈</span>
                        </a>
                        <a href="#">
                            <img src="../static/images/sports.jpg" alt="스포츠">
                            <span>스포츠</span>
                        </a>
                        <a href="#">
                            <img src="../static/images/expensive.jpg" alt="명품">
                            <span>명품</span>
                        </a>
                    </div>
                    <div class="category">
                        <a href="#">
                            <img src="../static/images/golf.jpg" alt="골프">
                            <span>골프</span>
                        </a>
                        <a href="#">
                            <img src="../static/images/kids.jpg" alt="키즈">
                            <span>키즈</span>
                        </a>
                        <a href="#">
                            <img src="../static/images/keen.jpg" alt="킨 사이오닉" height="114px;">
                            <span>킨 사이오닉</span>
                        </a>
                        <a href="#">
                            <img src="../static/images/outlet.jpg" alt="아울렛">
                            <span>아울렛</span>
                        </a>
                        <a href="#">
                            <img src="../static/images/gift.jpg" alt="선물하기">
                            <span>선물하기</span>
                        </a>
                        <a href="#">
                            <img src="../static/images/living.jpg" alt="리빙">
                            <span>리빙</span>
                        </a>
                        <a href="#">
                            <img src="../static/images/beauty.jpg" alt="뷰티">
                            <span>뷰티</span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- 신상 모음   -->
            <div class="label_goods">
                <div class="middle_write">
                    <h2>오직, LF몰에서만</h2>
                </div>
                <div class="picture_gather">
                    <div class="p_gather">
                        <img src="/static/images/left.jpg" alt="가을 아우터의 정석">
                        <div class="explain">A.T.CORNER</div>
                    </div>
                    <div class="p_gather">
                        <img src="/static/images/middle.jpg" alt="아이템 베스트3">
                        <div class="explain">DAKS ACC</div>
                    </div>
                    <div class="p_gather">
                        <img src="/static/images/right.jpg" alt="신상 데일리 백">
                        <div class="explain">질바이질스튜어트</div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>
</html>