<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
    <link rel="stylesheet" href="/css/mypage.css">
</head>
<body>
<div id="container">
    <div id="contents">
        <div class="content_new">
            <div class="mypage_base">
                <h2><a href="javascript:void(0);" onclick="javascript:cfGoToPageForLogin(PAGE_MYPAGE);">마이페이지</a></h2>
                <div class="mypage_info">
                    <div class="left">
                        <p><em>User</em></p>
                        <span class="mark n-grade ty07">
                            Red
                          </span>
                        <a href="javascript:void(0);" onclick="cfGoToPage(PAGE_MEM_INTEG_GRADE+'&amp;etag1=045_A110_E324&amp;etag2=0&amp;etag3=0&amp;etag4=0');">등급혜택보기</a>
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:void(0);" onclick="cfGoToPageForLogin(PAGE_MY_REVIEW+'&amp;etag1=045_A110_E327&amp;etag2=0&amp;etag3=0&amp;etag4=0');">
                                상품리뷰
                                <span>
                                  <em>0</em>개
                              </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="dash-link" onclick="cfGoToPageForLogin(PAGE_COUPON+'&amp;left_menu=0&amp;&amp;etag1=045_A110_E231&amp;etag2=0&amp;etag3=0&amp;etag4=0');">
                                쿠폰<!-- 쿠폰은 left메뉴가 2개임(쿠폰조회,쿠폰등록) -->
                                <span>
                          <em>8</em>장
                        </span>
                            </a>
                        </li>
                        <li>
                            <a onclick="cfGoToPageForLogin(PAGE_FPOINT+'&amp;left_menu=2&amp;&amp;etag1=045_A110_E328&amp;etag2=0&amp;etag3=0&amp;etag4=0');" href="javascript:void(0);">
                                e기프트 마일리지
                                <span>
                              <em>0</em>M
                          </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" onclick="cfGoToPageForLogin(PAGE_POINT+'&amp;left_menu=3&amp;&amp;etag1=045_A110_E329&amp;etag2=0&amp;etag3=0&amp;etag4=0');">
                                마일리지
                                <span>
                          <em>0</em>M
                          </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-container">
                <div class="common_lnb">
                    <ul>

                        <li class="on">
                            <span class="tit">쇼핑내역</span>
                            <ul class="sub">
                                <li class="on"><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_ORDER+'&amp;etag1=045_A111_E331&amp;etag2=0&amp;etag3=1&amp;etag4=0');">주문/배송 내역</a></li> <!-- LFML-68081 명칭변경 - 주문내역 전체보기 >> 주문/배송 내역 -->
                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_ORDER_ASK+'&amp;etag1=045_A111_E331&amp;etag2=0&amp;etag3=2&amp;etag4=0');">취소/반품/교환 신청</a></li>
                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_ORDER_CRE+'&amp;etag1=045_A111_E331&amp;etag2=0&amp;etag3=3&amp;etag4=0');">취소/반품/교환 내역</a></li>
                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_REPAYMENT+'&amp;etag1=045_A111_E331&amp;etag2=0&amp;etag3=4&amp;etag4=0');">재결제 대기</a></li>

                                <li><a href="javascript:void(0);" onclick="sendOpenPageTagAjax('155', '045_A296_E253','0','0','0', 'https://www.whypaymore.co.kr/d/account/login/pnrlf');">항공권 예약/조회</a></li>
                                <li><a href="javascript:void(0);" onclick="sendOpenPageTagAjax('182', '045_A296_E253','0','7','0', '//lf.tigergds.com/SignIn');">골프 예약/조회</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="tit">나의혜택</span>
                            <ul class="sub">

                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_COUPON+'&amp;left_menu=0&amp;&amp;etag1=045_A111_E332&amp;etag2=0&amp;etag3=2&amp;etag4=0');">쿠폰 조회</a></li>
                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_COUPON_REG+'&amp;left_menu=1&amp;&amp;etag1=045_A111_E332&amp;etag2=0&amp;etag3=3&amp;etag4=0');">쿠폰 등록</a></li>
                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_FPOINT+'&amp;left_menu=2&amp;&amp;etag1=045_A111_E332&amp;etag2=0&amp;etag3=5&amp;etag4=0');">e기프트 마일리지 조회</a></li>
                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_POINT+'&amp;left_menu=3&amp;&amp;etag1=045_A111_E332&amp;etag2=0&amp;etag3=4&amp;etag4=0');">마일리지 조회</a></li>

                                <li><a href="javascript:void(0);" onclick="openLfpayLayer('registLfpay'); return false;">LFpay</a></li>

                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageNewMenuForLogin(PAGE_PLANNING_DTL+'&amp;datacls=75770');">LFmall 신용카드</a></li>

                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageNewMenuForLogin(PAGE_ALLIANCEY_SERVICE+'?left_menu=7&amp;etag1=045_A292_E741&amp;etag2=0&amp;etag3=0&amp;etag4=0');">제휴 서비스</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="tit">나의활동</span>
                            <ul class="sub">
                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_MY_REVIEW+'&amp;etag1=045_A111_E333&amp;etag2=0&amp;etag3=1&amp;etag4=0');">상품리뷰</a></li>
                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_QNALIST+'&amp;etag1=045_A111_E333&amp;etag2=0&amp;etag3=2&amp;etag4=0');">상품 Q&amp;A</a></li>
                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_COUNSEL+'&amp;etag1=045_A111_E333&amp;etag2=0&amp;etag3=3&amp;etag4=0');">1:1상담</a></li>

                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_WISHLIST+'&amp;etag1=045_A111_E333&amp;etag2=0&amp;etag3=4&amp;etag4=0');">위시리스트</a></li>
                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_MYFAVORITE+'&amp;etag1=045_A111_E333&amp;etag2=0&amp;etag3=5&amp;etag4=0');">관심 브랜드 조회</a></li>
                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_VOC+'&amp;etag1=045_A111_E333&amp;etag2=0&amp;etag3=6&amp;etag4=0');">고객제안</a></li>
                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_REWAREHOUSE_NOTICE+'&amp;etag1=045_A111_E333&amp;etag2=0&amp;etag3=7&amp;etag4=0');">재입고 알림 내역</a></li>
                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_EVENT_HST+'&amp;etag1=045_A111_E333&amp;etag2=0&amp;etag3=8&amp;etag4=0');">이벤트/체험단 참여 내역</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="tit">회원정보</span>
                            <ul class="sub">

                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_MEM_INTEG_GRADE+'&amp;etag1=045_A111_E334&amp;etag2=0&amp;etag3=1&amp;etag4=0');">회원등급</a></li>
                                <!--                 <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_MEM_INFO);">회원정보 조회/수정</a></dd> -->

                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_MEM_INFO+'&amp;etag1=045_A111_E334&amp;etag2=0&amp;etag3=2&amp;etag4=0');">회원정보 변경</a></li>

                                <li style="display:none;"><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_VIRCLE_NFT_ADRESS+'&amp;etag1=045_A111_E334&amp;etag2=0&amp;etag3=7&amp;etag4=0');">KLIP 주소</a></li><!-- [LFML-82481] 디지털개런티카드 -->

                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_REFUND_ACCOUNT+'&amp;etag1=045_A111_E334&amp;etag2=0&amp;etag3=3&amp;etag4=0');">환불계좌관리</a></li>
                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_ADDRESS+'&amp;etag1=045_A111_E334&amp;etag2=0&amp;etag3=5&amp;etag4=0');">배송지 관리</a></li>
                                <!-- <dd><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_AFFL_CERT);">제휴임직원 인증</a></dd> -->
                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_AFFL_CERT+'&amp;etag1=045_A111_E334&amp;etag2=0&amp;etag3=6&amp;etag4=0');">제휴임직원 인증</a></li>
                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_FMLY_CERT);">패밀리 인증</a></li>
                                <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_MEM_SECEDE+'&amp;etag1=045_A111_E334&amp;etag2=0&amp;etag3=4&amp;etag4=0');">회원탈퇴</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_FAQ+'&amp;etag1=045_A111_E207&amp;etag2=0&amp;etag3=0&amp;etag4=0');" class="tit">FAQ</a></li>
                        <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_CUSTOMER+'&amp;etag1=045_A111_E018&amp;etag2=0&amp;etag3=0&amp;etag4=0');" class="tit">고객센터</a></li>


                    </ul>
                </div>
                <div>
                    <div style="margin-top:20px;">

                        <a href="/planning.do?cmd=getPlanningDetail&amp;datacls=96888"><img src="https://img.lfmall.co.kr/file/WAS/apps/2022/LFML-125613_pc.jpg" style="width:100%" alt="리뷰를 부탁해"></a>
                    </div>
                    <h3 class="mypage-title">주문/배송 내역</h3>
                    <p class="order-chk-p">주문번호를 클릭하시면 주문상세내역을 확인할 수 있습니다.</p>
                    <form name="searchForm" method="post">
                        <div class="period-search clfix">
                            <div class="month-btn">
                                <a href="javascript:void(0);" onclick="cfSetDate(document.searchForm.START_DATE, document.searchForm.END_DATE, 0, -1, 0);sendTagAjax('_A113_E338','0','1');" class="tbtn sel">1개월</a>
                                <a href="javascript:void(0);" onclick="cfSetDate(document.searchForm.START_DATE, document.searchForm.END_DATE, 0, -3, 0);sendTagAjax('_A113_E338','0','2');" class="tbtn">3개월</a>
                                <a href="javascript:void(0);" onclick="cfSetDate(document.searchForm.START_DATE, document.searchForm.END_DATE, 0, -6, 0);sendTagAjax('_A113_E338','0','3');" class="tbtn">6개월</a>
                                <a href="javascript:void(0);" onclick="cfSetDate(document.searchForm.START_DATE, document.searchForm.END_DATE, -1, 0, 0);sendTagAjax('_A113_E338','0','4');" class="tbtn">1년</a>
                            </div>
                            <div class="calendar ipt-align">
                                <input type="text" class="​&quot;ipt-txt&quot;" name="START_DATE" maxlength="10" value="2024.08.26" title="일자" vname="시작일자" required="">
                                <a href="javascript:void(0);" onclick="calfCallCalendar(document.searchForm.START_DATE,'YYYYMMDD');"><img src="//img.lfmall.co.kr/file/WAS/apps/2013/image/frontoffice/common/btn/btn_calendar.gif" alt="달력버튼"></a>
                                <span class="txt-aid">-</span>
                                <input type="text" class="​&quot;ipt-txt&quot;" name="END_DATE" maxlength="10" value="2024.09.25" title="일자" vname="종료일자" required="">
                                <a href="javascript:void(0);" onclick="calfCallCalendar(document.searchForm.END_DATE,'YYYYMMDD');"><img src="//img.lfmall.co.kr/file/WAS/apps/2013/image/frontoffice/common/btn/btn_calendar.gif" alt="달력버튼"></a>
                            </div>
                            <div class="inquiry-btn">
                                <a href="javascript:void(0);" class="btnFind" onclick="jfSearch();sendTagAjax('_A113_E339','0','0');">조회</a>
                            </div>
                        </div>
                    </form>
                    <div class="ajaxPage">
                        <div class="mb10 remove-order-sel-list">
                            <span class="head-btn"><a href="javascript:void(0);" onclick="javascript:jfOrderDel();" class="sys-btn-type1">선택삭제</a></span>
                            <p class="order-status-sum">
                                <span class="b">2024.08.26~2024.09.25</span> 주문내역 : <span class="b c-deep-brown">총 0건</span>
                            </p>
                        </div>
                        <table class="bbs-list mypage-prd sys-tbl" border="0" summary="주문배송 조회 목록입니다.">
                            <caption>주문배송 조회 목록</caption><!-- LFML-18070 --><colgroup><col width="30px"><col width="108px"><col width="326px"><col width="90px"><col width="100px"><col width="90px"></colgroup><thead><tr><!-- LFML-18070 --><th scope="col"><span class="lfu-chk"><input type="checkbox" name="delynChkAll" id="delynChkAll" onclick="javascript:jfAllCheck(this);"><label for="all"></label></span></th><!-- //LFML-18070 --><th scope="col">일자/주문번호</th><th scope="col">주문상품정보</th><th scope="col">결제금액</th><th scope="col">진행상태</th><th scope="col">비고</th></tr></thead><tbody><tr class="last"><!-- LFML-68081 주문내역이 없는경우 텍스트표시 추가 --><td colspan="6" class="nodata">주문/배송 내역이 없습니다</td></tr></tbody>
                        </table>
                    </div>
                    <div class="mypage_egift">
                        <div class="title">
                            <h3 class="br_none">주문 STEP</h3>
                        </div>
                        <div class="order_step">
                            <ul>
                                <li>주문접수</li>
                                <li>결제완료</li>
                                <li>상품/배송준비중</li>
                                <li>배송중</li>
                                <li>배송완료</li>
                            </ul>
                            <div class="step_state">
                                <div>
                                    <span>주문취소, 사이즈/색상 변경 가능</span>
                                    <p>LF 상품은 오프라인 매장과 동시 판매되고 있으므로,<br>결제 완료 후에도 발송지연 또는 품절이 될 수 있습니다.
                                    </p>
                                </div>
                                <div>
                                    <span>교환/반품 가능</span>
                                    <p>상품 수령 후, <br/>[마이페이지 &gt; 취소/반품/교환 신청] 에서 교환/반품 신청 가능합니다.<br>1~3일 내에 방문수거합니다.<em><br/> 교환 시 상품 검수 후 교환하여 발송합니다.</em></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{includes/footer}"></div>
</body>
</html>