<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css">
    <link rel="stylesheet" href="/css/signupRegister.css">
</head>
<body>
<form action="/signupOk" method="post">
  <div class="register">
    <div class="MemberRegisterForm_topTitle__G2yvu">회원가입</div>
    <div class="MemberRegisterForm_form__fQnj5">
      <div class="MemberRegisterForm_subTitle__g4krF"><p>기본정보</p></div>
      <div class="MemberRegisterForm_inputField__Vx8et"><label for="id">아이디</label><input name="id" type="text" class="MemberRegisterForm_inputType__JBVw0" id="id" maxlength="16"></div>
      <div class="MemberRegisterForm_inputField__Vx8et"><label for="userPW">비밀번호</label><input name="password" type="password" class="MemberRegisterForm_inputType__JBVw0" id="userPW" maxlength="15"></div>
      <div class="MemberRegisterForm_inputField__Vx8et"><label for="userPW2">비밀번호 확인</label><input name="passwordConfirm" type="password" class="MemberRegisterForm_inputType__JBVw0" id="userPW2" maxlength="15"></div>
      <div class="MemberRegisterForm_inputField__Vx8et"><label for="userPW2">이메일</label><input name="email" type="text" class="MemberRegisterForm_inputType__JBVw0" id="email"></div>
      <div class="LfButtonGroup_lfButtonGroup__X0ZW1 MemberRegisterForm_btnWrap__eLzkI"><button type="submit" class="LfButton_lfButton__djCj2 LfButton_sizePC5__7Gjip LfButton_fillRed__cxMET disabled">가입하기</button></div>
    </div>
  </div>
</form>
</body>
</html>