<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MyPage</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script defer src="/js/qna.js"></script>
  <link rel="stylesheet" href="/css/supermypage.css">
  <link rel="stylesheet" href="/css/supermypage2.css">
  <link rel="stylesheet" href="/css/qna.css">
</head>
<body>
<header>
  <div th:replace="~{includes/header}"></div>
</header>
<div id="wrapper">
  <div id="container">
    <div id="contents">
      <div class="content_new">
        <div class="location_path">
          <ul id="category_path" class="category_path">
            <li>
              <!-- [D]하위 뎁스 없는 경우 클래스명 depth_none 추가 -->
              <a href="/p2/display/menu?id=501&amp;etag1=045_A002_E239&amp;etag2=0&amp;etag3=1&amp;etag4=0"
                 class="lfc::NONE:PATH::1:1:홈::::">홈</a>
            </li>

            <li id="HEADERPAGENAME"><a href="javascript:void(0);"
                                       onclick="javascript:cfGoToPageForLogin(PAGE_MYPAGE);">마이페이지</a></li>

            <!-- default타입 path -->
            <li><a href="javascript:void(0);" class="depth_none">쇼핑내역</a></li>
            <li class="on"><a href="javascript:void(0);"> 상품등록/변경</a></li>
          </ul>
        </div>

        <div class="mypage_base">

          <h2><a href="javascript:void(0);"
                 onclick="javascript:cfGoToPageForLogin(PAGE_MYPAGE);">마이페이지</a></h2>

          <div class="mypage_info">

            <div class="left">
              <p><em></em></p>

              <span class="mark n-grade ty07">
                [[${session.id}]]
                                </span>
              <a href="javascript:void(0);"
                 onclick="cfGoToPage(PAGE_MEM_INTEG_GRADE+'&amp;etag1=045_A110_E324&amp;etag2=0&amp;etag3=0&amp;etag4=0');">등급혜택보기</a>

            </div>
            <ul>
              <li>
                <a href="javascript:void(0);"
                   onclick="cfGoToPageForLogin(PAGE_MY_REVIEW+'&amp;etag1=045_A110_E327&amp;etag2=0&amp;etag3=0&amp;etag4=0');">
                  상품리뷰
                  <span>
                                            <em>0</em>개
                                        </span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="dash-link"
                   onclick="cfGoToPageForLogin(PAGE_COUPON+'&amp;left_menu=0&amp;&amp;etag1=045_A110_E231&amp;etag2=0&amp;etag3=0&amp;etag4=0');">
                  쿠폰<!-- 쿠폰은 left메뉴가 2개임(쿠폰조회,쿠폰등록) -->
                  <span>
                                            <em></em>장
                                        </span>
                </a>
              </li>
              <li>
                <a onclick="cfGoToPageForLogin(PAGE_FPOINT+'&amp;left_menu=2&amp;&amp;etag1=045_A110_E328&amp;etag2=0&amp;etag3=0&amp;etag4=0');"
                   href="javascript:void(0);">
                  e기프트 마일리지
                  <span>
                                            <em>0</em>M
                                        </span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);"
                   onclick="cfGoToPageForLogin(PAGE_POINT+'&amp;left_menu=3&amp;&amp;etag1=045_A110_E329&amp;etag2=0&amp;etag3=0&amp;etag4=0');">
                  마일리지
                  <span>
                                            <em></em>M
                                        </span>
                </a>
              </li>

              <!--[LFML-71477] 간편결제(LFpay) 도입 START  -->
              <li class="lfpay">

                <a href="javascript:void(0);" onclick="goLfpay();return false;">
                  <!-- 202203 BX개선 -->
                  <div class="lf-logo"><img
                          src="//img.lfmall.co.kr/file/WAS/display/lf2022/pc/logo-l-fpay2x.png"
                          alt="Lfpay"></div>

                  <span>등록하기</span>

                </a>
              </li>
              <!--[LFML-71477] 간편결제(LFpay) 도입 END -->

            </ul>
          </div>
        </div>
        <div class="mypage_cont">
          <!-- LNB -->
          <div class="common_lnb">
            <ul>

              <li class="on">
                <span class="tit">쇼핑내역</span>
                <ul class="sub">
                  <li><a href="/superMyPage"
                                    onclick="cfGoToMyPageForLogin(PAGE_ORDER+'&amp;etag1=045_A111_E331&amp;etag2=0&amp;etag3=1&amp;etag4=0');">상품등록/변경</a></li> <!-- LFML-68081 명칭변경 - 주문내역 전체보기 >> 주문/배송 내역 -->
                  <li class="on"><a href="/superMyPage/qna"
                         onclick="cfGoToMyPageForLogin(PAGE_ORDER_ASK+'&amp;etag1=045_A111_E331&amp;etag2=0&amp;etag3=2&amp;etag4=0');">고객 QnA</a></li>
                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageForLogin(PAGE_ORDER_CRE+'&amp;etag1=045_A111_E331&amp;etag2=0&amp;etag3=3&amp;etag4=0');">취소/반품/교환
                    내역</a></li>
                  <li><a href="javascript:void(0);"
                         onclick="cfGoToMyPageForLogin(PAGE_REPAYMENT+'&amp;etag1=045_A111_E331&amp;etag2=0&amp;etag3=4&amp;etag4=0');">재결제
                    대기</a></li>

                  <!-- <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_OFFSHOP_REPAIR+'&etag1=045_A111_E331&etag2=0&etag3=5&etag4=0');">오프라인 매장 수선내역</a></li> -->

                  <!-- <li><a href="javascript:void(0);" onclick="cfGoToMyPageForLogin(PAGE_CLUBL_MEMBERSHIP)">Club-L 회원권 주문내역</a></li> -->


                  <li><a href="javascript:void(0);"
                         onclick="sendOpenPageTagAjax('155', '045_A296_E253','0','0','0', 'https://www.whypaymore.co.kr/d/account/login/pnrlf');">항공권
                    예약/조회</a></li>
                  <li><a href="javascript:void(0);"
                         onclick="sendOpenPageTagAjax('182', '045_A296_E253','0','7','0', '//lf.tigergds.com/SignIn');">골프
                    예약/조회</a></li>
                </ul>
              </li>


            </ul>
          </div>

          <!-- 선마일리지 안내 :: 팝업레이어 -->
          <div class="layer_new" id="first_point1" style="display:none;top:240px;left:260px;width:390px;">
            <h2>e기프트 마일리지 조회</h2>
            <a class="close" href="javascript:closeLayer('first_point1')"><img alt="닫기"
                                                                               src="//img.lfmall.co.kr/file/WAS/apps/2017/pfront/btn_close_20x20.png"></a>
            <div class="layer_cont">
              <div class="ly_list">
                <ul>
                  <li>e기프트 마일리지는 유효기간 내 사용이 가능하며, LFmall 자사상품에만 적용 가능합니다. (오프라인 사용 불가)</li>
                  <li>한 주문 당 하나 만 사용 가능하며, 이벤트에 따라 일부 상품은 제외될 수 있습니다.</li>
                  <li>e기프트 마일리지는 최종 결제 금액의 50%까지만 사용 가능합니다.</li>
                  <li>지급된 e기프트 마일리지보다 낮은 가격의 상품에는 사용할 수 없습니다.</li>
                </ul>
              </div>
              <div class="ly_btn">
                <a href="javascript:closeLayer('first_point1')">확인</a>
              </div>
            </div>
          </div>
          <!--// 선마일리지 안내 -->

          <!-- LFML-71477 결제수단 관리 layer -->
          <div class="ly-common-wrap ly-common-wrap-lfpay" id="lfpayccc" style="display: none;">
            <div class="ly-common-container">
              <h3 class="ly-common-ttl" style="z-index:99999990;">
                <img src="//img.lfmall.co.kr/file/WAS/apps/2021/image/mweb/lfpay/logo-l-fpay-header%402x.png"
                     class="playlogo" alt="">
              </h3>
              <div class="ly-common-content" id="dynaContents">
                <iframe name="lfpayIframe"></iframe>
              </div>
              <div class="ly-close-x" style="z-index:99999990;">
                <button class="ui-btn-type-ico act-close-ly"
                        onclick="closeLfpayLayer();return false;"><span class="blind">닫기</span></button>
              </div>
            </div>
          </div>





          <form name="meberCheckForm" method="post">
            <input type="hidden" name="AFTERSELFCERT" id="AFTERSELFCERT" value="C">
            <input type="hidden" name="RETURN_URL" id="RETURN_URL" value="">
          </form>

          <div class="content mypage">
            <form action="/superMyPage/qnaOk" method="post">
              <input type="hidden" name="idx" th:value="${qna.idx}" readonly>
              <input type="hidden" name="id" th:value="${qna.id}" readonly>
              <input type="hidden" name="product_idx" th:value="${qna.product_idx}" readonly>
              <table id="qnaDetail">
                <tr>
                  <td>제목</td>
                  <td><input type="text" name="title" th:value="${qna.title}"></td>
                </tr>
                <tr>
                  <td>내용</td>
                  <td><textarea name="content" id="" cols="30" rows="10" placeholder="내용을 입력해주세요">[[${qna.content}]]</textarea></td>
                </tr>
                <tr>
                  <td colspan="2"><button type="submit" class="btn btn-outline-info">저장</button></td>
                </tr>
              </table>
            </form>
          </div>



              <!-- 주문한 상품 리스트 //-->
              <!-- LFML-18070 -->
              <div class="mb10 remove-order-sel-list">
                                    <span class="head-btn"><a href="javascript:void(0);"
                                                              onclick="javascript:jfOrderDel();" class="sys-btn-type1">선택삭제</a></span>
                <p class="order-status-sum">
                  <span class="b">2024.08.26~2024.09.25</span> 주문내역 : <span
                        class="b c-deep-brown">총 0건</span>
                </p>
              </div>

            <div class="wingbnr wingright">
            </div>
            <button type="button" class="btn_top showed" id="topButton"
                    style="position: absolute; bottom: 30px;"><span class="sp">브라우저 상단으로 이동</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="~{includes/footer}"></div>
</body>
</html>
