.SearchTitle_searchTitle__YA7vN {
    padding-top: 80px;
}
.SearchTitle_searchTitle__YA7vN p {
    font-size: 24px;
    letter-spacing: 0;
    line-height: 34px;
    line-height: 32px;
}
.SearchTitle_searchTitle__YA7vN .SearchTitle_keyword__5OS3H {
    color: #dc2832;
}
.SearchTitle_searchTitle__YA7vN .SearchTitle_num__eQtrY {
    margin-left: 10px;
}